.timer-container {
  width: 1000px;
  height: 500px;
  background: linear-gradient(to right bottom, #333, #335);
  border-radius: 10px 20px;
  // flex
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .time-shower {
    height: 120px;
    color: white;
    font-size: 50px;
  }
  .input-area {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      height: 50px;
      background-color: rgb(255, 255, 255);
      border: none;
      color: #335;
      font-weight: 500;
      font-size: 23px;
    }
    input {
      height: 50px;
      outline: none;
      padding: 0 10px;
      border: none;
      color: #335;
    }
  }
}
